.commentsList-appear {
  opacity: 0.01;
}

.commentsList-appear.commentsList-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.commentsList-enter {
  opacity: 0.01;
}

.commentsList-enter.commentsList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.commentsList-leave {
  opacity: 1;
}

.commentsList-leave.commentsList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}